.container {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  color: rgb(65, 65, 65);
  display: block;
  margin: 0 auto;
  position: relative;
  width: 550px;
  border-radius: 10px;
  box-shadow: 20px 20px 0 rgba(255, 255, 255, 0.048);
  height: 500px;
}

body {
  background: rgb(228, 247, 247);
}

a {
  text-align: center;
}
